/*********************** MEDIA QUERY **********************/

@media screen and (min-width:768px) {
    html {
        font-size: 14px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-direction: row;
    }

    .padding-row {
        padding: 0.5rem;
        background-color: white;
    }

    .container {
        width: 720px;
    }

    .nav-container ul {
        margin: 0%;
        list-style: none;
        display: flex;
        gap: 2rem;
    }

    .col-xl-1-3 {
        flex-basis: calc(100% / 3);
    }

    .col-xl-1-4 {
        flex-basis: calc(100% / 4);
    }

    .col-xl-3-4 {
        flex-basis: 75%
    }

}

@media screen and (min-width:992px) {
    html {
        font-size: 16px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        flex-direction: row;
    }

    .container {
        width: 950px;
    }

    .nav-container ul {
        margin: 0%;
        list-style: none;
        display: flex;
        gap: 2rem;
    }

    .col-xl-1-2 {
        flex-basis: 50%;
    }

    .col-xl-1-3 {
        flex-basis: calc(100% / 3);
    }

    .col-xl-1-4 {
        flex-basis: calc(100% / 4);
    }

    .col-xl-3-4 {
        flex-basis: 75%
    }

    .nav-container ul {
        margin: 0%;
        list-style: none;
        display: flex;
        gap: 2rem;
    }

    .nav-container li {
        display: inline-block;
    }

    .hamburgher-menu {
        font-size: 3rem;
        display: none;
    }



}