/*****************************          *******************************/
:root {
    /* color palette */
    --color-primary: rgb(57, 130, 245);
    --color-primary-light: rgb(189, 220, 252);
    --color-secondary: rgb(150, 146, 222);
    --color-text-primary:;
    --color-text-secondary: rgb(150, 146, 222);
}

/*****************************          *******************************/


/*****************************   Reset       *******************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    /* background-color: var(--color-primary); */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0.5rem;
    /* padding-bottom: 2rem; */
}

/* da rendere unica per non cambiare tutte le img */
img {
    display: block;
    margin: 0px auto;
    text-align: center;
    max-height: 300px;
}

section {
    padding: 2rem 2rem;
}

i {
    font-size: 5rem;
}

footer {
    color: white;
    padding: 4rem;
}


/*****************************          *******************************/

.container {
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

.container-70 {
    width: 70%;
    margin: 0 auto;
    justify-content: center;
}

.nav-container {
    width: 100%;
    background-color: var(--color-primary);
    /* display: flex; */
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
}

.nav-container ul {
    margin: 0%;
    list-style: none;
    display: flex;
    gap: 2rem;
    display: none;
}

.nav-container li {
    display: none;
}

.title {
    text-align: center;
}

/*****************************   Colonne    *******************************/

.row {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: column;
}

.row-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}



.padding-row {
    padding: 1rem 2rem;
    background-color: white;
}

.padding-testimonials {
    padding: 1rem 4rem;
}

.margin-reset {
    margin: unset;
}

.col {
    flex-basis: 100%;
}

.col-nav {}

.hamburgher-menu {
    font-size: 3rem;
    text-align: end;
    color: white;
    cursor: pointer;
}

.padding-card-spacing {
    padding: 1rem;
    margin:0 auto;
    border-radius: 10px;
    text-align: center;
}
.padding-top-m {
    padding-top: 4rem;
}

.padding-s {
    padding: 1rem;
}

.padding-xs {
    padding: 0.5rem;
}

.apple-icon {
    font-size: 1.2rem;
    padding-right: 0.5rem;
}
.card {
    /* height: 200px; */
    border-radius: 40px;
    text-align: center;
    /* padding: 2rem; */
    margin: 0 auto;
}

.img-logo {
    width: 100%;
    height: 50px;
    object-fit: contain;
}

.img-phone {
    /* aspect-ratio: 1/1; */
    object-fit: cover;
    max-height: 300px;
    display: inline-block;
    margin-bottom: -0.3rem;
}

.img-testimonials {
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    height: 200px;
    padding-top: 1rem;
}

.bg-purple {
    background-color: var(--color-secondary);
}

.text-purple {
    color: var(--color-secondary);
}

.text-white {
    color: white;
}
.bg-primary {
    background-color: var(--color-primary);
}

.bg-primary-light {
    background-color: var(--color-primary-light);
}

.bg-white {
    background-color: white;
}

.bg-black {
    background-color: rgb(51, 51, 51);
}

.icon-linkedin {
    font-size: 1rem;
    padding: 0 0.5rem;
}

.btn {
    padding: 0.6rem 3rem;
    border-radius: 1rem;
    border: 0;
    font-size: 1rem;
}

.btn-small {
    border-radius: 1rem;
    border: 0;
    padding: 0.3rem 1rem;
}

.btn-special {
    padding: 1rem;
    border: 0;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.down-arrow {
    font-size: 10px;
    object-fit: cover;
    display: block;
}

/***************************  COL MEDIA  *******************************/
/* .col-xl-1-2 {
    flex-basis: 50%;
}

.col-xl-1-3 {
    flex-basis: calc(100% / 3);
}

.col-xl-1-2 {
    flex-basis: calc(100% / 4);
}

.col-xl-3-4 {
    flex-basis: 75%
} */